# ~/.gitconfig
# maintained by waiel

[user]
    name = waiel
    email = git@waiel.co

[core]
    editor = vim
    autocrlf = input
    whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitignore_global
    pager = less -FRX

[init]
    defaultBranch = main

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green
    changed = yellow
    untracked = red

[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    df = diff
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD
    unstage = reset HEAD --
    amend = commit --amend --no-edit
    wip = !git add -A && git commit -m 'WIP'
    undo = reset --soft HEAD~1
    branches = branch -a
    tags = tag -l
    stashes = stash list
    contributors = shortlog --summary --numbered
    cleanup = !git branch --merged | grep -v '\\*\\|main\\|master' | xargs -n 1 git branch -d

[diff]
    tool = vimdiff
    colorMoved = default

[difftool]
    prompt = false

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false
    keepBackup = false

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[credential]
    helper = osxkeychain

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
